GRAPHQL_URI=http://192.168.0.105:1337/graphql
API_URL=http://192.168.0.105:1337
DEV_TG_INIT_DATA='{"query_id":"AAEGKqcZAAAAAAYqpxkLjlqE","user":{"id":430385670,"first_name":"Denis","last_name":"Grushkin","username":"denisoed","language_code":"en","allows_write_to_pm":true,"photo_url":"https://t.me/i/userpic/320/0QNTtSzVHfToFiuf4VCj4UwrYIEdpgws7z-5_fz128c.svg"},"auth_date":"1752831703","signature":"xiTujrACyLGWVFyhdagh94eUg1NDPsgHW3_7V0Cz32dTVOjy_unyZIYQs8vp_c8Ye92DBPqNzx6XEOHV27rjCQ","hash":"21cd530a519c270bae3893b4e5db7fd8060ca9c4063e7127c756735c25716236"}'