html {
  width: 100%;
}

body {
  width: 100%;
  min-width: 350px;
  height: 100%;
  overflow: auto;
  background-color: var(--main-bg);
}

button { touch-action: manipulation !important; }

a {
  cursor: pointer;
}

* {
  text-decoration: none;
  color: inherit;
}
