html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  min-width: 350px;
  height: 100vh;
  overflow: auto;
  background-color: var(--main-bg);
  top: 0 !important;
}

button { touch-action: manipulation !important; }

a {
  cursor: pointer;
}

* {
  text-decoration: none;
  color: inherit;
}
